*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: hsl(249, 10%, 26%);    
}

.container {
	width: 375px;
	background-color: hsl(0, 100%, 74%);
	margin-left: auto;
	margin-right: auto;
    padding: 25px;
    overflow: hidden;
}

h1 {
    font-size: 24px;
    font-weight: 610;
    color: white;
    text-align: center;
    margin-top: 70px;
    padding: 0px 50px 20px;
}

p {
   font-size: 15px; 
   text-align: center;
   color: white;
}

.msj {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px hsla(234, 12%, 34%, 0.342);
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 20px 50px;
    font-weight: 550;
}

.text-light {
    font-weight: 500;
    color: hsl(246, 25%, 77%);
}

.form-container {
    background: white;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px hsla(234, 12%, 34%, 0.342);
}

.form-campo {
    margin-bottom: 15px;
}

.form-campo input {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 15px;
    border: 2px solid hsla(247, 66%, 92%, 0.575);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
}

.form-envio input {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 15px;
    background-color: hsl(154, 59%, 51%);
    border: 2px solid hsla(247, 66%, 92%, 0.575);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color:white;
}

.terms-text {
    text-align: center;
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    padding: 12px 30px 5px;
}

.terms-text span {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}
